asgiref==3.12.1
Django==5.2.17
django-picklefield==3.4.0
django-q2==1.11.0
et_xmlfile==2.0.0
numpy==2.4.6
openpyxl==3.1.5
pandas==3.0.5
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-decouple==3.8
six==1.17.0
sqlparse==0.6.0

gunicorn==22.0.0
whitenoise==6.7.0
pymssql==2.3.13
